/*----------------------------                                                    CSS INDEX - HEAD_ZONE                                    --------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#HTML-INDEX {
    scroll-behavior: smooth;

}

:root {
    --general-Background-Color: rgb( 8, 13, 19);

    --status-Color-Shadow-Completed: 0 0 10px rgb(0, 255, 0);
    --status-Color-Completed: rgb(0, 255, 0);

    --status-Color-Shadow-Progress: 0 0 10px rgb(255, 145, 0);
    --status-Color-Progress: rgb(255, 145, 0);

    --status-Color-Shadow-Idea: 0 0 10px rgb(0, 255, 255);
    --status-Color-Idea: rgb(0, 255, 255);

    --status-Color-Null: rgba(172, 172, 172, 0.548);

    --gadgets-Color: #97a3bd;
}

@font-face {
    font-family: 'QuickSandM';
    src: url('/docs/src/Fonts/Ttf/Quicksand.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nordic_Alternative_Regular';
    src: url('/docs/src/Fonts/Ttf/Nordic_Alternative_Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Flow_Rounded';
    src: url('/docs/src/Fonts/Ttf/FlowRounded.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'QuickSandM';
    margin: 0;
}

.display_None {
    display: none;
}

.background_Image_Config {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#bar_Menu {
    position: fixed;
    z-index: 100;
    top: 1px;
    left: 49.1%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    width: 50%;
    max-width: 340px;
    height: 30px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
}
#bar_Menu_Buttom_641px {
    position: fixed;
    z-index: 3;
    left: 100%;
    transform: translateX(-100%);
    width: 35px;
    height: 40px;
    margin: 0;
    padding-left: 11px;
    background-color: rgba(0, 0, 0, 0);
}
#label_Icon_BarMenuOpener {
    display: inline-block;
    margin: 0 0 40px -11px;
    width: 45px;
    height: 34px;
    cursor: pointer;
    background-size: 100% 100%;
    background-image: url('/docs/src/Images/Icons/list_Icon.png');
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}
.bar_Menu_641px {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 300ms ease;
    top: 0;
    left: 46px;
    width: 200px;
    height: 250px;
    background-color: rgba(179, 179, 179, 0);
    text-align: center;

}
#label_Closer_Button {
    font-size: 27px;
    color: rgb(242, 242, 242);
    cursor: pointer;
}
#label_Closer_Button:hover {
    background-color: rgba(0, 0, 0, 0.878);
    color: rgb(179, 179, 179);
}
.display_641px {
    visibility: hidden;
}
.display_None_641px {
    display: block;
}
#oultador {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    width: 35px;
    height: 40px;
    margin: 0;
    padding-left: 11px;
    background-color: var(--general-Background-Color);
}
@media (max-width: 641px){
    #bar_Menu {
        display: none;
    }
    .display_None_641px{
        visibility: hidden;
    }
    .display_641px{
        visibility: visible;
    }
}
#list_Bar_Menu_Opener:checked ~ .bar_Menu_641px {
    left: -154.51px;
    z-index: 5;
}
#list_Bar_Menu_Opener:checked ~ #label_Icon_BarMenuOpener{
    visibility: hidden;
}



.contenedor_Flex_BarMenu {
    display: flex;
}
.a_BarMenu_Config {
    transition: all 150ms ease;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    color: rgb(240, 240, 240);
    padding: 4.5px 0 0 0;
    height: 30px;
    width: 90px;
    z-index: 100;
}
@media (max-width:641px) {
    .a_BarMenu_Config {
        transition: all 150ms ease;
        text-decoration: none;
        box-sizing: border-box;
        color: rgb(243, 243, 243);
        padding: 17px 0 0 0;
        height: 60px;
        width: 100%;
    }
}
.a_BarMenu_Config:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(126, 126, 126);
}

#head_zone {
    position: relative;
    margin: 0%;
    height: 663px;
    background-color: var(--general-Background-Color);
}
#header_style {
    padding: 10px;
}
#header_style *{
    display: inline-block;
}
#header_style p {
    margin: 0%;
}
#principal_Name {
    font-family: 'Nordic_Alternative_regular';
    font-size: 150%;

    color: rgb(162, 162, 162);
}
#p_Redes {
    float: right;
    margin: 0px;
}

.URL_Config:hover {
    background-color: rgba(182, 220, 255, 0.378);

}
.URL_Config {
    transition: 300ms ease;
    height: 34px;
    width: 35px;
    background-size: cover;
    border-radius: 17px;
    margin: -3px 6px 0px 0px;
}
.URL_GitHub {
    background-image: url('/docs/src/Images/Icons/GitHubLogo.png');
}
.URL_LinkedIn {
    background-image: url('/docs/src/Images/Icons/LinkedInLogo.png');
}

#moon_Art {
    position: absolute;
    background-size: cover;
    width: 440px;
    height: 270px;
    margin: 150px 0 0 50%;
    transform: translateX(-50%);
}

#backEnd{
    position: absolute;
    margin: 0;
    width: 300px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(179, 179, 179);
    font-size: 2rem;
    z-index: 3;
}

.relocate-Config {
    position: absolute;

    width: 35px;
    height: 25px;

    left: 50%;
    transform: translateX(-50%);

}
.boton_Relocate_Down {
    transition: 300ms ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    background-color: rgba(0, 0, 0,0.300);
    bottom: 5%;
}
.boton_Relocate_Down:hover{
    clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
}

.boton_Relocate_Up {

    transition: 300ms ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    background-color: rgba(0, 0, 0, 0.300);
    top: 5%;

}
.boton_Relocate_Up:hover{
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
}

/*----------------------------                                                    CSS INDEX - ME_ZONE                                      --------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#fondo_MeZone {
    background-image: url('/docs/src/Images/BackGrounds/SkyB.png');
}

#buttons_Content_Flex {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 120px;
    height: 25px;
    margin: 580px 0 0 50% ;
    padding: 4px 0 4px 0;
    transform: translateX(-50%);
}
.me_Switch_Buttons {
    transition: all 150ms ease;
    background-color: rgba(133, 133, 133, 0.679);
    padding: 0 2px 0 2px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    box-sizing: border-box;
}
.me_Switch_Buttons:hover {
    background-color: rgba(63, 63, 63, 0.802);
    cursor: pointer;
}

#metas_Proyectos_B:checked ~ #metas_Proyectos{
    visibility: visible;
}
#general_Me_B:checked ~ #general_Me{
    visibility: visible;
}
#gustos_Me_B:checked ~ #gustos_Me {
    visibility: visible;
}
#estudios_Trabajos_Experiencias_B:checked ~ #estudios_Trabajos_Experiencias{
    visibility: visible;
}

.targets_Me_Config {
    position: absolute;
    transition: all 150ms ease;
    min-width: 400px;
    width: 29.90%;
    max-height: 400px;
    min-height: 70%;
    margin: 0;
    border-radius: 3px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    background-color: var(--gadgets-Color);
    visibility: hidden;
}
@media (max-width: 360px){
    .targets_Me_Config{
        min-width: 340px;
        max-height: 400px;
    }
    #fondo_MeZone {
        width: 100%;
        height: 100%;
    }
    #moon_Art {
        width: 340px;
        height: 200px;
    }
}


/*----------------------------                                                    CSS INDEX - TECH_ZONE                                    --------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#fondo_TechZone {
    background-image: url('/docs/src/Images/BackGrounds/SkyB.png');
}
.zone_Config {

    position: relative;
    height: 100vh;
    min-height: 663px;
    margin: 0;
    border-top: 2.5px solid azure;

}
#content_Flex_Flexs {
    display: flex;
    height: 80%;

    margin-top: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tech_Content_Flex {
    display: flex;
    width: 49.5%;
    min-width: 470px;
    max-width: 700px;
    height: 23.85%;
    min-height: 155px;
    justify-content: space-around;
    padding-top: 12px;
}
@media (max-width: 360px){
    .tech_Content_Flex{
        min-width: 360px;
        min-height: 155px;
    }
}
.tech_Target_Config {
    transition: all 200ms ease;
    box-sizing: border-box;
    width: 150px;
    min-width: 141px;
    min-height: 141px;
    margin: 0 1px 0 1px;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 83%);
    border-radius: 5px;
    text-align: center;
    vertical-align: super;
    background-color: var(--gadgets-Color);
}
@media (max-width: 360px){
    .tech_Target_Config{
        width: 120px;
        min-width: 100px;
        height: 101px;
        min-height: 141px;
    }
}
.tech_Target_Config:hover {

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin: 0 15px 0 15px;
    background-color: #a8b8dc;

}


.info_Config {

    width: 49.5%;
    min-width: 470px;
    max-width: 700px;
    height: 21.7%;
    min-height: 140px;

    background-color: rgba(151, 151, 151, 0.878);
    border: 1.5px ;
    color: white;

    box-sizing: border-box;

    margin: 0;
    z-index: 2;

}
@media (max-width: 360px){
    .info_Config{
        min-width: 300px;
        height: 21.7%;
        min-height: 140px;
    }
}
.info_P_Config {

    transition: all 100ms ease;
    position: absolute;
    visibility: hidden;

    color: white;

    top: 40%;
    margin-left: -25%;

    box-sizing: border-box;

    margin: 0;
    z-index: 3;

}

#JavaScript_Tech {
    filter: blur(2.5px) grayscale(9);
}
.iconTech {
    width: 85%;
    height: 81%;
}
.nameTech {
    height: 17%;
    margin: 0;
    line-height: 155%;
    text-align: center;
    vertical-align: middle;
    color: rgb(250, 250, 250);
    background-color: rgb(80, 80, 80);
}

/*----------------------------                                                    CSS INDEX - PROYECTS_ZONE                                --------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#proyects_Zone {
    min-height: 663px;
    height: 100%;
    background-color: rgb( 8, 13, 19);
}
/* #fondo_ProyectZone {
    background-image: url('/docs/src/Images/BackGrounds/SkyB.png');
} */



#proyect_Content_Flex {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;

    width: 80%;
    min-height: 663px;
    margin: 70px 0 0 10%;
    padding: 5px 0 5px 0;
}


.gadget_Proyect_Config {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 250px;
    margin: 10px 0 10px 0;
    background-color: var(--gadgets-Color);
    color: rgb(0, 0, 0);
}
.gadget_Proyect_Config h4 {
    margin: 10px 0 10px 0;
}
.gadget_Proyect_Config .proyect_Image {
    box-sizing: border-box;
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: top;
}

.status_Proyect_Bar {
    display: flex;
    justify-content: space-around;
    width: 75px;
    height: 18px;
    margin: -6px 0 0 2px;
    padding-top: 1.8px;
    border-radius: 3px;
    background-color: rgb( 8, 13, 19);
}
.circle_Status_Config {
    width: 13px;
    height: 13px;
    margin: 2px;
    border-radius: 100%;
}
.status_Proyect_Circle_Null{
    background-color: var(--status-Color-Null);
}
.status_Proyect_Circle_Completed {
    background-color: var(--status-Color-Completed);
    box-shadow: var(--status-Color-Shadow-Completed);
}
.status_Proyect_Circle_Progress {
    background-color: var(--status-Color-Progress);
    box-shadow: var(--status-Color-Shadow-Progress);
}
.status_Proyect_Circle_Idea{
    background-color: var(--status-Color-Idea);
    box-shadow: var(--status-Color-Shadow-Idea);
}

.content_Flex_Technologies_Used {
    position: absolute;
    display: flex;
    margin-top: 15px;
    height: 25px;
    background-color: rgb( 8, 13, 19);
}
.tech_Content {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    vertical-align: super;
}


.info_i {
    position: relative;
    cursor: help;
    margin: 22px 0 0 50%;
    transform: translateX(-50%);
    width: 15px;
    font-size:  12px;
    font-weight: bolder;
    border-radius: 100%;
    border: 2px solid black;
}
#info_MensI:hover ~ #info_Mens{
    opacity: 1;
    display:block;
}
.info_Target {
    position: absolute;
    float: center;
    text-align: left;
    box-sizing: border-box;
    margin: 0 0 0 50%;
    transform: translateX(-50%);
    clip-path: polygon(0 10%,40% 10%,50% 0, 60% 10%, 100% 10%, 100% 100%, 0 100%);
    padding: 15px 5px 5px 5px;
    border-radius: 5px;
    min-width: 200px;
    background-color: rgb(255, 244, 223);
    color:rgb(0, 0, 0);
    z-index: 50;
    opacity: 0;
    display: none;
    transition: all 200ms;
}
@media (max-width: 766px) {
    .info_i {
        visibility: hidden;
    }
    .info_Target{
        display: none;
    }
}

.url_Gadgets {
    margin: -15px 0 0 0;
    float: right;
}
.url_Gadgets a {
    display: inline-block;
    box-sizing: border-box;
    transition: 300ms ease;
    height: 25px;
    width: 25px;
    background-size: cover;
    border-radius: 17px;
    margin: 0 2px 0 0;
}