/*----------------------------                                                    CSS INDEX                                          --------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#HTML-INDEX {
    scroll-behavior: smooth;
    overflow: hidden;
}

@font-face {
    font-family: 'Nordic_Alternative_Regular';
    src: url('/src/Nordic_Alternative_Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.config_Background {
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0%;
    z-index: -1;
}
#color_Background_A {
    right: 0;
    background-color: rgb(78, 78, 78);

}
#color_Background_B {
    left: 0;
    background-color: rgb(88, 88, 88);
}

#head_zone {
    margin: 0%;
    height: 663px;
}
#header_style {
    padding: 10px;
}
#header_style *{
    display: inline-block;
}
#header_style p {
    margin: 0%;
}
#principal_Name {
    font-family: 'Nordic_Alternative_regular';
    font-size: 150%;

    color: rgb(217, 217, 217);
}
#p_Redes {
    float: right;
    margin: 0px;
}



.URL_Config:hover {
    background-color: rgba(182, 220, 255, 0.378);

}
.URL_Config {

    transition: 300ms ease;
    height: 34px;
    width: 35px;
    background-size: cover;
    border-radius: 17px;
    margin: -3px 6px 0px 0px;

}
.URL_GitHub {

    background-image: url('Images/Icons/GitHubLogo.png');

}
.URL_LinkedIn {

    background-image: url('Images/Icons/LinkedInLogo.png');

}
.URL_Messagge {

    height: 30px;
    width: 35px;
    background-size: cover;
    background-image: url('Images/Icons/MensaggeIcon.png')

}


#backEnd_Logo {

    position: absolute;

    width: 180px;
    height: 144px;
    top: 30%;
    left: 43.5%;

    margin: 0;

    background-size: 100% 100%;
    background-image: url('Images/Icons/BackEndIcon.png');


    z-index: 3;

}
#back-End {

    position: absolute;

    margin: 0;

    right: 2px;
    top: 55%;

    color: rgb(179, 179, 179);

    font-size: 2rem;

    z-index: 3;


}
#developer {

    position: absolute;

    margin: 0;

    left: 2px;
    top: 55%;

    color: rgb(179, 179, 179);

    font-size: 2rem;

    z-index: 3;


}


.relocate-Config {
    position: absolute;

    width: 35px;
    height: 25px;

    left: 48.72%;

}

#boton-Relocate-Down {

    transition: 300ms ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    background-color: rgba(174, 147, 43,0.700);
    bottom: 5%;

}
#boton-Relocate-Down:hover{
    clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
}

#boton-Relocate-Up {

    transition: 300ms ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    background-color: rgba(0, 0, 0, 0.300);
    top: 5%;

}
#boton-Relocate-Up:hover{
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
}



#limit_seccion_head {

    position: absolute;
    margin: 0%;
    right: 0px;
    bottom: 0px;

    width: 100%;
    height: 5px;
    background-color: rgb(251,253,240);

}


#targets_zone {

    min-height: 659px;
    margin-top: 0;
    background-color: rgb(174, 147, 43);
    box-sizing: border-box;
    position: relative;


    padding-top: 200px;

}

.target_Cnf{

    transition: 300ms ease;

    width: 250px;
    height: 250px;

    margin: 10px 25px 0 25px;
    border-radius: 4px;

    box-sizing: border-box;
    background-color: black;
    color: ivory;
    position: relative;


    text-align: center;
    text-decoration-line: none;

}
.target_Cnf:hover{

    width: 260px;
    height: 260px;

    margin: 0 35px 5px 35px;


    position: relative;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

#targets {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#imagen_Tecnologias {

    width: 55%;
    height: 50%;

    margin: 40px;
    margin-left: 60px;

    box-sizing: border-box;
    background-size: 100% 100%;
    background-image: url('Images/portTechs/tecnologiasIcon.png');


}


.no_Events {

    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.300);

}


#footer_page {

    position: absolute;
    width: 100%;
    bottom: 0;

}
#footer_page *{
    display: inline-block;
}

/*----------------------------                                                    CSS TECNOLOGIAS                                          --------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#body_Tecnologias {

}
#background_Color {

    position: absolute;
    width: 100%;
    height: 137%;

    margin: 0;

    z-index: -1;

    background-Color: rgb(88, 88, 88);

}

#home_Button {

    position: absolute;

    transition: 300ms ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    width: 25px;
    height: 35px;

    top: 1%;
    left: 0.85%;

    background-color: rgba(174, 147, 43,0.700);

}
#home_Button:hover {

    clip-path: polygon(0 50%, 100% 0, 100% 100%, 100% 100%);

}

#tecnologias {
    min-height: 663px;


    box-sizing: border-box;
}


#content_Flex_Tecnologias {

    display: flex;
    align-items: flex-end;
    flex-direction: column;


}


.config_Targets_Tecnologias h2, p{
    margin: 0px;
}
.config_Targets_Tecnologias img {
    float: right;
}
.config_Targets_Tecnologias {

    display: inline-block;

    transition: 300ms ease;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);

    padding-right: 1%;
    margin: 5px 0 5px 0;
    border-left: 0 solid black;
    border-radius: 5px;

    width: 70%;
    height: 140px;

    background-color: rgba(94, 69, 28, 0.72);

    text-align: left;


}
.config_Targets_Tecnologias:hover{

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-left: 8px solid rgb(0, 0, 0);

}

