@font-face {
    font-family: 'Nordic_Alternative_Regular';
    src: url('/src/Nordic_Alternative_Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
}

.config_Background {
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0%;
    z-index: -1;
}
#color_Background_A {
    right: 0;
    background-color: rgb(78, 78, 78);
}
#color_Background_B {
    left: 0;
    background-color: rgb(88, 88, 88);
}


#header_style {
    padding: 10px;
}
#header_style *{

    display: inline-block;
    margin: 0%;

}
#principal_Name {
    font-family: 'Nordic_Alternative_regular';
    font-size: 150%;

    color: rgb(217, 217, 217);
}
#job_desing {
    color: rgb(179, 179, 179);
}
#p_Redes {
    float: right;
    margin: 0px;
}
.URL_Config {

    height: 34px;
    width: 35px;
    background-size: cover;
    border-radius: 17px;

}
.URL_GitHub {

    background-image: url('Images/Icons/GitHubLogo.png');

}
.URL_LinkedIn {

    background-image: url('Images/Icons/LinkedInLogo.png');

}
.URL_Messagge {

    height: 30px;
    width: 35px;
    background-size: cover;
    background-image: url('Images/Icons/MensaggeIcon.png')

}



#head_zone {
    margin: 0%;
    height: 663px;
}


#limit_seccion_head {

    position: absolute;
    margin: 0%;
    right: 0px;
    bottom: 0px;

    width: 100%;
    height: 5px;
    background-color: rgb(251,253,240);

}


#targets_zone {

    height: 659px;
    margin-top: 0;
    background-color: coral;
    position: relative;

}
.target_Cnf{

    display: inline-block;
    background-color: rgb(182, 220, 255);
    width: 250px;
    height: 250px;

    text-align: center;

    position: absolute;

}

#target_SobreMi {
    left: 5%;
}
#target_Proyectos {
    left: 41%;
}
#target_Tecnologias {
    left: 76%;
}

#targets {
    position: absolute;
    width: 100%;

    top: 32%;
}

#footer_page {
    position: absolute;
    width: 100%;
    bottom: 0;
}



