/*----------------------------                                                    CSS INDEX - HEAD_ZONE                                    --------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#HTML-INDEX {
    scroll-behavior: smooth;
    overflow: hidden;
}

@font-face {
    font-family: 'Nordic_Alternative_Regular';
    src: url('src/Nordic_Alternative_Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.config_Background {
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0%;
    z-index: -1;
}
#color_Background_A {
    right: 0;
    background-color: rgb(78, 78, 78);

}
#color_Background_B {
    left: 0;
    background-color: rgb(88, 88, 88);
}

#head_zone {
    margin: 0%;
    height: 100vh;
}
#header_style {
    padding: 10px;
}
#header_style *{
    display: inline-block;
}
#header_style p {
    margin: 0%;
}
#principal_Name {
    font-family: 'Nordic_Alternative_regular';
    font-size: 150%;

    color: rgb(217, 217, 217);
}
#p_Redes {
    float: right;
    margin: 0px;
}



.URL_Config:hover {
    background-color: rgba(182, 220, 255, 0.378);

}
.URL_Config {

    transition: 300ms ease;
    height: 34px;
    width: 35px;
    background-size: cover;
    border-radius: 17px;
    margin: -3px 6px 0px 0px;

}
.URL_GitHub {

    background-image: url('Images/Icons/GitHubLogo.png');

}
.URL_LinkedIn {

    background-image: url('Images/Icons/LinkedInLogo.png');

}
.URL_Messagge {

    height: 30px;
    width: 35px;
    background-size: cover;
    background-image: url('Images/Icons/MensaggeIcon.png')

}


#backEnd_Logo {

    position: absolute;

    width: 180px;
    height: 144px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    margin: 0;

    background-size: 100% 100%;
    background-image: url('Images/Icons/BackEndIcon.png');


    z-index: 3;

}
#back-End {

    position: absolute;

    margin: 0;

    right: 2px;
    top: 55%;

    color: rgb(179, 179, 179);

    font-size: 2rem;

    z-index: 3;


}
#developer {

    position: absolute;

    margin: 0;

    left: 2px;
    top: 55%;

    color: rgb(179, 179, 179);

    font-size: 2rem;

    z-index: 3;


}


.relocate-Config {
    position: absolute;

    width: 35px;
    height: 25px;

    left: 50%;
    transform: translateX(-50%);

}
.boton_Relocate_Down {
    transition: 300ms ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    background-color: rgba(0, 0, 0,0.300);
    bottom: 5%;
}
.boton_Relocate_Down:hover{
    clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
}

.boton_Relocate_Up {

    transition: 300ms ease;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    background-color: rgba(0, 0, 0, 0.300);
    top: 5%;

}
.boton_Relocate_Up:hover{
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
}


/*
#limit_seccion_head {

    position: absolute;
    margin: 0%;
    right: 0px;
    bottom: 0px;
    z-index: 100;

    width: 100%;
    height: 5px;
    background-color: rgb(251,253,240);

}
*/
/*----------------------------                                                    CSS INDEX - TECH_ZONE                                    --------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.zone_Config {

    position: relative;
    height: 100vh;
    margin: 0;
    border-top: 2.5px solid azure;



}
#tech_Zone {

    background-color: gray;

}
#me_Zone {

    background-color: rgb(80, 80, 80);

}
#proyects_Zone {

    background-color: rgb(53, 25, 6);

}

#bar_Menu {

    position: fixed;
    z-index: 3;

    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;

    width: 50%;
    height: 25px;

    margin: 0;

    background-color: rgba(0, 0, 0, 0.213);

}
#contenedor_Flex_BarMenu {

    display: flex;
    justify-content: space-around;

}
.a_BarMenu_Config {

    transition: all 300ms ease;

    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    color: black;

    padding: 3.3px;

    height: 25px;
    width: 85px;

    background-color: rgba(238, 238, 238, 0.679);

}

.a_BarMenu_Config:hover {

    color: rgba(135, 127, 27, 0.515);

    background-color: rgb(238, 238, 238);

}

